
<article>
  <h2><%= question.title%></h2>
    <p><%= question.body_text%></p>
    <%= erb :'votes/_vote_form', locals: {vote_route: "/questions/#{question.id}/votes"}, layout: false %>
</article>


<!-- comment
votes -->

