<div class="question">
  <div class="list-img-div">
    <img class="list-img" src="<%= question.img_path %>">
  </div>
  <div class="list-title-div">
    <a class="list-title" href="/questions/<%=question.id%>"><%= question.title%></a>
  </div>
</div>
