<form class='question-form' action="/questions" method="POST">
  <fieldset>
  <label for="title">Title:</label>
  <input name="question[title]" type="text" placeholder="Title for your question">
  <textarea name="question[body_text]" placeholder="Your favorite throwback!"></textarea>
  <label for="image">Add an image:</label>
  <input name="question[img_path]" type="text">
  <input type="submit" value="Throw it back!">
  </fieldset>
</form>
