<div class="question-form-wrapper">
  <form class='question-form' action="/questions" method="POST">
    <input name="question[title]" type="text" placeholder="Title"><br>
    <textarea name="question[body_text]" placeholder="Body"></textarea><br>
    <label for="image">Add an image:</label><br>
    <input name="question[img_path]" type="text"><br>
    <input type="submit" value="Throw it back!">
  </form>
</div>
