<h1 class="add-a-throwback">Add A New Throwback</h2>
<%= erb :'questions/_question_form', layout: false %>
<div class='question-wrapper'>
  <% @questions.each do |quest| %>
    <%= erb :'questions/_list', locals: {question: quest} %>
  <% end %>
</div>
