<main>
  <%= erb :'questions/_body', locals: {question: @question}, layout: false %>
  <h4>Answers</h4>
  <% if logged_in? %>
    <%= erb :'answers/_new', locals: {question: @question}, layout: false %>
  <% end %>
  <% @question.answers.each do |answer| %>
      <%= erb :'answers/_show', locals: {answer: answer}, layout: false %>
  <% end %>

</main>
