<!-- This is not done yet! -->
<% comments.each do |comment| %>

  <div class="comments">
  <h5>Comment:</h5>
  <p class='comment-text'><%= comment.text %></p>



  <div><%= erb :'votes/_vote_form', locals: {vote_route: vote_route(comment)}, layout: false %></div>
  <p id="vote-total">Vote Total: <%= comment.vote_total %></p>
<% end %>
</div>