<div class="voting">
  <form id="comment-form" action="<%= comment_route %>" method="POST">
    <fieldset>
      <label for="text">Shout, shout let it all out:</label>
      <input name="comment" type="text" placeholder="come on!">
      <input type="submit" value="Throw it way back!">
    </fieldset>
  </form>
</div>
