<div class="comments-wrapper">
  <p>Comment:</p>
  <p><%= comment.text %></p>
  <p>Vote Total: <%= comment.vote_total %></p>
  <%= erb :'votes/_vote_form', locals: {vote_route: vote_route(comment)}, layout: false %>
</div>
