<div class="voting">
  <form action="<%= comment_route %>" method="POST">
    <fieldset>
      <label for="text">Comment:</label>
      <input name="comment" type="text" placeholder="Your comment">
      <input type="submit" value="Throw it way back!">
    </fieldset>
  </form>
</div>
