<div class="comments-wrapper">
  <p class='comment-text'><%= comment.text %></p>
  <%= erb :'votes/_vote_form', locals: {vote_route: vote_route(comment), voteable: comment}, layout: false %>
</div>


