form  {
  font-size: 1.25em;

}

textarea .comment{
  display: block;
  width: 60%:;
}

label{
  display: block;
}

/****** Answers *********/
ul#answers-list li {
  font-size: 1.25em;
  list-style-type: none;
}

.answer-box {
  border-bottom: 3px dotted black;
  padding: 10px;
  margin: 5px;
 }

#best{
  background-color: rgb(33,176,174);
}
