<form id="answer-form" action="/questions/<%= question.id %>/answers" method="POST">
  <fieldset>
    <label for="title">Word Up!</label>
    <textarea name="text" type="text" placeholder="Leave your message at the beep...BEEP."></textarea>
    <input class="comment" type="submit" value="Say it!">
  </fieldset>
</form>
