<form action="/questions/<%= question.id %>/answers" method="POST">
  <fieldset>
    <label for="title">Answer:</label>
    <input name="text" type="text" placeholder="Be kind please :)">
    <input type="submit" value="Say it!">
    </fieldset>
</form>
