<div class="voting">
  <form action="<%= vote_route %>" method="POST">
    <input id="upvote" name="vote" type="submit" value="+1">
    <input id="downvote" name="vote" type="submit" value="-1">
  </form>
</div>
